################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ASPNET.MVCTutorial/MvcMovies/bin
/ASPNET.MVCTutorial/MvcMovies/obj
/ASPNET.MVCTutorial/.vs